<div class="content">
  <div class="top-part">
    <div id="map">

      <!-- <div class="routes-info">
        @if ( showRoute ) {
          @if( showRouteWalking && walkingRouteLayer ) {
            <div class="route walk" (click)="checkClick( $event )">
              Ruta a pie
            </div>
          }

          @if( showRouteCar && carRouteLayer ) {
            <div class="route car" (click)="focusCarRoute()">
              Ruta en coche
            </div>
          }

          @if( showRouteBike && bikeRouteLayer ) {
            <div class="route bike" (click)="focusBikeRoute()">
              Ruta en bicicleta
            </div>
          }
        }
      </div> -->

    </div>
  </div>


  <div class="controls">
    <div class="buttons">
      <button (click)="buscarFarmaciaMasCercana()">
        Buscar farmacia más cercana
      </button>

      <button
        (click)="buscarTresFarmacias()"
      >
        Buscar las 3 farmacias más cercanas
      </button>
    </div>
    <div class="legend">
      </div>
  </div>
</div>
