<div class="content">
  <div class="top-part">
    <div id="map"></div>

<div class="routes-info">
  @if (showRoute) {
    @if (showRouteWalking && walkingRouteInfo?.formattedText) {
      <div class="route walk" (click)="focusWalkingRoute()">
        Ruta a pie
        <div style="font-size: 0.8em; color: #555;" [innerHTML]="walkingRouteInfo!.formattedText"></div>
      </div>
    }

    @if (showRouteCar && carRouteInfo?.formattedText) {
      <div class="route car" (click)="focusCarRoute()">
        Ruta en coche
        <div style="font-size: 0.8em; color: #555;" [innerHTML]="carRouteInfo!.formattedText"></div>
      </div>
    }

    @if (showRouteBike && bikeRouteInfo?.formattedText) {
      <div class="route bike" (click)="focusBikeRoute()">
        Ruta en bicicleta
        <div style="font-size: 0.8em; color: #555;" [innerHTML]="bikeRouteInfo!.formattedText"></div>
      </div>
    }
  }
</div>

  </div>

  <div class="controls">
    <div class="buttons">
      <button (click)="buscarFarmaciaMasCercana()">
        Buscar farmacia más cercana
      </button>

      <button (click)="buscarTresFarmacias()">
        Buscar las 3 farmacias más cercanas
      </button>
      <button (click)="buscarFarmaciasPorRadio(radio)">
        Buscar farmacias en un radio de {{ radio }}km
      </button>
    </div>
    <div class="slider-container">
      <input
        type="range"
        min="1"
        max="6"
        value="1"
        step="0.5"
        [(ngModel)]="radio"
      />
      <p>Radio: {{ radio }} km</p>
    </div>
    <div class="legend"></div>
  </div>
</div>
