<div class="content">
  <div class="routes-info">
    @if ( showRoute ) {
      <h3>Rutas a la farmacia:</h3>
      @if( showRouteWalking && walkingRouteLayer ) {
        <div class="route walk" (click)="focusWalkingRoute()">
          Ruta a pie
        </div>
      }

      @if( showRouteCar && carRouteLayer ) {
        <div class="route car" (click)="focusCarRoute()">
          Ruta en coche
        </div>
      }

      @if( showRouteBike && bikeRouteLayer ) {
        <div class="route bike" (click)="focusBikeRoute()">
          Ruta en bicicleta
        </div>
      }
    }
  </div>
  <div id="map"></div>

  <div class="controls">
    <div class="buttons">
      <button (click)="buscarFarmaciaMasCercana()">
        Buscar farmacia más cercana
      </button>

      <button>
        Buscar las 3 farmacias más cercanas
      </button>
    </div>
    <div class="legend">
      </div>
  </div>
</div>
